In [21]:
import pdblp
import pandas as pd
import math
import matplotlib.pyplot as plt
import helpers

ModuleNotFoundError: No module named 'blpapi'

In [104]:
con = pdblp.BCon(timeout=50000)
con.start()

### Dates Range

In [81]:
START_DATE = '20150101'
END_DATE = '20190630'

dates = pd.date_range(start=START_DATE,end=END_DATE)
intermediate_dates = [elem.strftime("%Y%m%d") for elem in dates]
#small_intermediate_dates = [elem.strftime("%Y%m%d") for elem in pd.date_range(start='20190101',end=END_DATE)]
#intermediate_dates = intermediate_dates[::-1]
print('Number of days studied :',len(intermediate_dates))

Number of days studied : 1642

# MACROS

### US Purchasing Managers Index

The economic situation is important to interest rates. When the economy is booming and there is a high demand for funds, the price of borrowing money goes up, leading to increasing interest rates. Conversely in economic recessions, there is downward pressure on interest rates.
In this context, the PMI is an index that summarizes whether market conditions, as viewed by purchasing managers, are expanding, staying the same, or contracting. 

It is a monthly released indicator, we will therefore consider that the value of the index is the same for all days of the month until the next release.

In [116]:
PMI_df = con.bdh('NAPMPMI Index','PX_LAST',START_DATE,END_DATE,elms=[('nonTradingDayFillOption','NON_TRADING_WEEKDAYS')])
PMI_df = PMI_df[2:].set_index('ticker')
PMI_df.columns=['PMI']
PMI_df.to_csv('PMI.csv')
PMI_df

ticker     NAPMPMI Index
field            PX_LAST
date
2015-01-01          54.6
2015-01-02          54.6
2015-01-05          54.6
2015-01-06          54.6
2015-01-07          54.6
2015-01-08          54.6
2015-01-09          54.6
2015-01-12          54.6
2015-01-13          54.6
2015-01-14          54.6
2015-01-15          54.6
2015-01-16          54.6
2015-01-19          54.6
2015-01-20          54.6
2015-01-21          54.6
2015-01-22          54.6
2015-01-23          54.6
2015-01-26          54.6
2015-01-27          54.6
2015-01-28          54.6
2015-01-29          54.6
2015-01-30          54.6
2015-01-31          54.1
2015-02-02          54.1
2015-02-03          54.1
2015-02-04          54.1
2015-02-05          54.1
2015-02-06          54.1
2015-02-09          54.1
2015-02-10          54.1
...                  ...
2019-05-21          52.8
2019-05-22          52.8
2019-05-23          52.8
2019-05-24          52.8
2019-05-27          52.8
2019-05-28          52.8
2019-05-29          52.8
2019-05-30          52.8
2019-05-31          52.1
2019-06-03          52.1
2019-06-04          52.1
2019-06-05          52.1
2019-06-06          52.1
2019-06-07          52.1
2019-06-10          52.1
2019-06-11          52.1
2019-06-12          52.1
2019-06-13          52.1
2019-06-14          52.1
2019-06-17          52.1
2019-06-18          52.1
2019-06-19          52.1
2019-06-20          52.1
2019-06-21          52.1
2019-06-24          52.1
2019-06-25          52.1
2019-06-26          52.1
2019-06-27          52.1
2019-06-28          52.1
2019-06-30          51.7

[1188 rows x 1 columns]

### US Unemployment Rate

Unemployment is another indicator of the financial health of a country. It is a lagging indicator, meaning that it generally rises or falls in the wake of changing economic conditions, rather than anticipating them. However, we will still consider it as one of our features because it is closely monitored by every investor.

It is a monthly released indicator, we will therefore consider that the value of the index is the same for all days of the month until the next release.

In [115]:
Unemployment_rate_df = con.bdh('USURTOT Index','Last price',START_DATE,END_DATE,elms=[('nonTradingDayFillOption','NON_TRADING_WEEKDAYS')])
Unemployment_rate_df = Unemployment_rate_df[2:].set_index('ticker')
Unemployment_rate_df.columns=['UNEMPLOYMENT']
Unemployment_rate_df.to_csv('Unemployment_rate.csv')
Unemployment_rate_df

ticker     USURTOT Index
field         Last price
date
2015-01-01           5.6
2015-01-02           5.6
2015-01-05           5.6
2015-01-06           5.6
2015-01-07           5.6
2015-01-08           5.6
2015-01-09           5.6
2015-01-12           5.6
2015-01-13           5.6
2015-01-14           5.6
2015-01-15           5.6
2015-01-16           5.6
2015-01-19           5.6
2015-01-20           5.6
2015-01-21           5.6
2015-01-22           5.6
2015-01-23           5.6
2015-01-26           5.6
2015-01-27           5.6
2015-01-28           5.6
2015-01-29           5.6
2015-01-30           5.6
2015-01-31           5.7
2015-02-02           5.7
2015-02-03           5.7
2015-02-04           5.7
2015-02-05           5.7
2015-02-06           5.7
2015-02-09           5.7
2015-02-10           5.7
...                  ...
2019-05-21           3.6
2019-05-22           3.6
2019-05-23           3.6
2019-05-24           3.6
2019-05-27           3.6
2019-05-28           3.6
2019-05-29           3.6
2019-05-30           3.6
2019-05-31           3.6
2019-06-03           3.6
2019-06-04           3.6
2019-06-05           3.6
2019-06-06           3.6
2019-06-07           3.6
2019-06-10           3.6
2019-06-11           3.6
2019-06-12           3.6
2019-06-13           3.6
2019-06-14           3.6
2019-06-17           3.6
2019-06-18           3.6
2019-06-19           3.6
2019-06-20           3.6
2019-06-21           3.6
2019-06-24           3.6
2019-06-25           3.6
2019-06-26           3.6
2019-06-27           3.6
2019-06-28           3.6
2019-06-30           3.7

[1188 rows x 1 columns]

### Consumer Price Index

Inflation has a key role in determining the price of bonds.

Indeed, when inflation gets higher the Fed has a tendency to increase interest rates to slow down the economy which results in higher bond prices. In the opposite scenario, the Fed would lower interest rates to stimulate growth resulting in a decrease of bond price.

The Consumer Price Index (CPI) is a measure that examines the weighted average of prices of a basket of consumer goods and services, such as transportation, food, and medical care. This index is one of the measures of inflation, it is by far the most looked at indicator.

In [114]:
CPI_df = con.bdh('CPI YOY Index','Last price',START_DATE,END_DATE,elms=[('nonTradingDayFillOption','NON_TRADING_WEEKDAYS')])
CPI_df = CPI_df[2:].set_index('ticker')
CPI_df.columns=['CPI']
CPI_df.to_csv('CPI.csv')
CPI_df

ticker     CPI YOY Index
field         Last price
date
2015-01-01           0.8
2015-01-02           0.8
2015-01-05           0.8
2015-01-06           0.8
2015-01-07           0.8
2015-01-08           0.8
2015-01-09           0.8
2015-01-12           0.8
2015-01-13           0.8
2015-01-14           0.8
2015-01-15           0.8
2015-01-16           0.8
2015-01-19           0.8
2015-01-20           0.8
2015-01-21           0.8
2015-01-22           0.8
2015-01-23           0.8
2015-01-26           0.8
2015-01-27           0.8
2015-01-28           0.8
2015-01-29           0.8
2015-01-30           0.8
2015-01-31          -0.1
2015-02-02          -0.1
2015-02-03          -0.1
2015-02-04          -0.1
2015-02-05          -0.1
2015-02-06          -0.1
2015-02-09          -0.1
2015-02-10          -0.1
...                  ...
2019-05-21           2.0
2019-05-22           2.0
2019-05-23           2.0
2019-05-24           2.0
2019-05-27           2.0
2019-05-28           2.0
2019-05-29           2.0
2019-05-30           2.0
2019-05-31           1.8
2019-06-03           1.8
2019-06-04           1.8
2019-06-05           1.8
2019-06-06           1.8
2019-06-07           1.8
2019-06-10           1.8
2019-06-11           1.8
2019-06-12           1.8
2019-06-13           1.8
2019-06-14           1.8
2019-06-17           1.8
2019-06-18           1.8
2019-06-19           1.8
2019-06-20           1.8
2019-06-21           1.8
2019-06-24           1.8
2019-06-25           1.8
2019-06-26           1.8
2019-06-27           1.8
2019-06-28           1.8
2019-06-30           1.6

[1188 rows x 1 columns]

### Philly Fed Survey

The Philadelphia Federal Index (or Philly Fed Survey) is a regional federal-reserve-bank index measuring changes in business growth.

When the index is above zero, it indicates factory-sector growth, and when below zero, it indicates contraction. The intention of the survey is to provide a snapshot of current manufacturing activity in this region, as well as provide a short term forecast of manufacturing conditions in the area, which may provide an indication of conditions throughout the United States.

In [113]:
Philly_Fed_df = con.bdh('OUTFGAF Index','Last price',START_DATE,END_DATE,elms=[('nonTradingDayFillOption','NON_TRADING_WEEKDAYS')])
Philly_Fed_df = Philly_Fed_df[2:].set_index('ticker')
Philly_Fed_df.columns=['Philly_Fed']
Philly_Fed_df.to_csv('Philly_Fed.csv')
Philly_Fed_df

ticker     OUTFGAF Index
field         Last price
date
2015-01-01          21.7
2015-01-02          21.7
2015-01-05          21.7
2015-01-06          21.7
2015-01-07          21.7
2015-01-08          21.7
2015-01-09          21.7
2015-01-12          21.7
2015-01-13          21.7
2015-01-14          21.7
2015-01-15          21.7
2015-01-16          21.7
2015-01-19          21.7
2015-01-20          21.7
2015-01-21          21.7
2015-01-22          21.7
2015-01-23          21.7
2015-01-26          21.7
2015-01-27          21.7
2015-01-28          21.7
2015-01-29          21.7
2015-01-30          21.7
2015-01-31          13.4
2015-02-02          13.4
2015-02-03          13.4
2015-02-04          13.4
2015-02-05          13.4
2015-02-06          13.4
2015-02-09          13.4
2015-02-10          13.4
...                  ...
2019-05-21           8.5
2019-05-22           8.5
2019-05-23           8.5
2019-05-24           8.5
2019-05-27           8.5
2019-05-28           8.5
2019-05-29           8.5
2019-05-30           8.5
2019-05-31          16.6
2019-06-03          16.6
2019-06-04          16.6
2019-06-05          16.6
2019-06-06          16.6
2019-06-07          16.6
2019-06-10          16.6
2019-06-11          16.6
2019-06-12          16.6
2019-06-13          16.6
2019-06-14          16.6
2019-06-17          16.6
2019-06-18          16.6
2019-06-19          16.6
2019-06-20          16.6
2019-06-21          16.6
2019-06-24          16.6
2019-06-25          16.6
2019-06-26          16.6
2019-06-27          16.6
2019-06-28          16.6
2019-06-30           0.3

[1188 rows x 1 columns]

### LIBOR US 1 month

A major factor in interest rates changes is the monetary policy of central banks. For example, the Fed increases or decreases the Fed Funds rate - the rate for lending money to other banks - according to the economic conditions. 

In this context, the Libor, which is an average of the interest rate on deposits traded between banks, is a good reflection of changes in the Fed Funds.

It also has the advantage of having a daily market-driven fixing.

In [111]:
Libor_df = con.bdh('US0001M Index','Last price',START_DATE,END_DATE,elms=[('nonTradingDayFillOption','NON_TRADING_WEEKDAYS')])
Libor_df = Libor_df[2:].set_index('ticker')
Libor_df.columns=['Libor']
Libor_df.to_csv('Libor.csv')
Libor_df

ticker     US0001M Index
field         Last price
date
2015-01-01       0.17125
2015-01-02       0.16750
2015-01-05       0.16800
2015-01-06       0.16775
2015-01-07       0.16650
2015-01-08       0.16625
2015-01-09       0.16675
2015-01-12       0.16650
2015-01-13       0.16650
2015-01-14       0.16825
2015-01-15       0.16800
2015-01-16       0.16800
2015-01-19       0.16875
2015-01-20       0.16850
2015-01-21       0.16675
2015-01-22       0.16825
2015-01-23       0.16775
2015-01-26       0.16900
2015-01-27       0.16800
2015-01-28       0.17050
2015-01-29       0.17090
2015-01-30       0.17125
2015-02-02       0.16950
2015-02-03       0.17100
2015-02-04       0.17350
2015-02-05       0.17100
2015-02-06       0.17150
2015-02-09       0.17220
2015-02-10       0.17170
2015-02-11       0.17170
...                  ...
2019-05-20       2.43600
2019-05-21       2.42963
2019-05-22       2.43700
2019-05-23       2.42975
2019-05-24       2.42813
2019-05-27       2.42813
2019-05-28       2.42938
2019-05-29       2.43850
2019-05-30       2.44000
2019-05-31       2.43050
2019-06-03       2.42988
2019-06-04       2.42088
2019-06-05       2.41850
2019-06-06       2.41163
2019-06-07       2.41213
2019-06-10       2.41338
2019-06-11       2.41063
2019-06-12       2.40113
2019-06-13       2.39425
2019-06-14       2.38175
2019-06-17       2.39025
2019-06-18       2.38288
2019-06-19       2.38338
2019-06-20       2.40363
2019-06-21       2.40438
2019-06-24       2.40175
2019-06-25       2.40413
2019-06-26       2.40238
2019-06-27       2.40238
2019-06-28       2.39800

[1172 rows x 1 columns]

### Commodity research Bureau Index

The price of commodities can be a good leading indicator of inflation as it can be a store of value for investors in times of inflation.

The CRB index may be a better indicator than the price of gold. It reflects the prices of futures contracts for 21 commodities and is updated continously throughout the business day as commodity futures prices fluctuate.

In [112]:
Commodity_index_df = con.bdh('CRB RIND Index','Last price',START_DATE,END_DATE,elms=[('nonTradingDayFillOption','NON_TRADING_WEEKDAYS')])
Commodity_index_df = Commodity_index_df[2:].set_index('ticker')
Commodity_index_df.columns=['Commodity_Index']
Commodity_index_df.to_csv('Commodity_index.csv')
Commodity_index_df

ticker     CRB RIND Index
field          Last price
date
2015-01-01         492.11
2015-01-02         491.95
2015-01-05         492.46
2015-01-06         490.21
2015-01-07         490.59
2015-01-08         490.24
2015-01-09         490.27
2015-01-12         488.84
2015-01-13         488.31
2015-01-14         483.75
2015-01-15         484.08
2015-01-16         483.08
2015-01-19         483.08
2015-01-20         482.19
2015-01-21         482.67
2015-01-22         482.70
2015-01-23         482.35
2015-01-26         483.03
2015-01-27         482.22
2015-01-28         482.37
2015-01-29         480.44
2015-01-30         480.84
2015-02-02         481.08
2015-02-03         483.12
2015-02-04         483.22
2015-02-05         483.36
2015-02-06         482.94
2015-02-09         483.30
2015-02-10         469.76
2015-02-11         468.68
...                   ...
2019-05-20         468.32
2019-05-21         468.07
2019-05-22         466.91
2019-05-23         466.83
2019-05-24         467.97
2019-05-27         467.97
2019-05-28         470.46
2019-05-29         467.96
2019-05-30         468.35
2019-05-31         467.01
2019-06-03         468.09
2019-06-04         467.86
2019-06-05         467.21
2019-06-06         467.63
2019-06-07         456.90
2019-06-10         457.60
2019-06-11         457.72
2019-06-12         458.15
2019-06-13         457.86
2019-06-14         456.25
2019-06-17         455.97
2019-06-18         456.45
2019-06-19         456.20
2019-06-20         455.50
2019-06-21         454.59
2019-06-24         455.46
2019-06-25         456.78
2019-06-26         456.03
2019-06-27         454.66
2019-06-28         455.22

[1172 rows x 1 columns]

### Yield spread 3M 10Y

The yield curve is a rigorously monitored recession signal because it gives a view of how investors are weighing short-term versus long-term investments and what kind of rate environment they're expecting to see.

In this context we can use the spread between three-month and 10-year Treasurys as an indicator of recessions.

In [101]:
Spread_df = con.bdh('USYC3M10 Index','Last price',START_DATE,END_DATE)
Spread_df = Spread_df[2:].set_index('ticker')
Spread_df.columns=['Spread']
Spread_df.to_csv('Spread.csv')
Spread_df

ticker     USYC3M10 Index
field          Last price
date
2015-01-01        212.557
2015-01-02        209.025
2015-01-05        201.675
2015-01-06        190.975
2015-01-07        193.728
2015-01-08        199.761
2015-01-09        192.553
2015-01-12        188.668
2015-01-13        186.957
2015-01-14        181.979
2015-01-15        168.360
2015-01-16        181.652
2015-01-19        181.652
2015-01-20        177.196
2015-01-21        184.640
2015-01-22        184.278
2015-01-23        177.654
2015-01-26        181.478
2015-01-27        180.282
2015-01-28        170.045
2015-01-29        174.103
2015-01-30        163.649
2015-02-02        165.404
2015-02-03        177.123
2015-02-04        174.028
2015-02-05        180.520
2015-02-06        193.727
2015-02-09        196.651
2015-02-10        198.653
2015-02-11        200.748
...                   ...
2019-05-20          4.012
2019-05-21          4.807
2019-05-22          1.338
2019-05-23         -3.972
2019-05-24         -1.948
2019-05-27         -1.948
2019-05-28         -8.404
2019-05-29         -9.279
2019-05-30        -15.780
2019-05-31        -21.867
2019-06-03        -26.097
2019-06-04        -21.994
2019-06-05        -20.952
2019-06-06        -19.332
2019-06-07        -19.595
2019-06-10        -12.839
2019-06-11        -11.290
2019-06-12         -9.948
2019-06-13         -8.950
2019-06-14         -9.547
2019-06-17         -9.182
2019-06-18        -16.150
2019-06-19        -14.621
2019-06-20        -10.762
2019-06-21         -6.111
2019-06-24         -9.813
2019-06-25        -14.100
2019-06-26        -10.214
2019-06-27        -12.971
2019-06-28         -9.457

[1172 rows x 1 columns]

### Interest rates

In [35]:
interest_rates_df = con.bdh('FDTR Index','Last price',START_DATE,END_DATE)
interest_rates_df = interest_rates_df[2:].set_index('ticker')
interest_rates_df.columns=['Interest_Rates']
interest_rates_df.to_csv('interest_rates.csv')
interest_rates_df

ticker     FDTR Index
field      Last price
date
2015-01-01       0.25
2015-01-02       0.25
2015-01-05       0.25
2015-01-06       0.25
2015-01-07       0.25
2015-01-08       0.25
2015-01-09       0.25
2015-01-12       0.25
2015-01-13       0.25
2015-01-14       0.25
2015-01-15       0.25
2015-01-16       0.25
2015-01-19       0.25
2015-01-20       0.25
2015-01-21       0.25
2015-01-22       0.25
2015-01-23       0.25
2015-01-26       0.25
2015-01-27       0.25
2015-01-28       0.25
2015-01-29       0.25
2015-01-30       0.25
2015-02-02       0.25
2015-02-03       0.25
2015-02-04       0.25
2015-02-05       0.25
2015-02-06       0.25
2015-02-09       0.25
2015-02-10       0.25
2015-02-11       0.25
...               ...
2019-05-20       2.50
2019-05-21       2.50
2019-05-22       2.50
2019-05-23       2.50
2019-05-24       2.50
2019-05-27       2.50
2019-05-28       2.50
2019-05-29       2.50
2019-05-30       2.50
2019-05-31       2.50
2019-06-03       2.50
2019-06-04       2.50
2019-06-05       2.50
2019-06-06       2.50
2019-06-07       2.50
2019-06-10       2.50
2019-06-11       2.50
2019-06-12       2.50
2019-06-13       2.50
2019-06-14       2.50
2019-06-17       2.50
2019-06-18       2.50
2019-06-19       2.50
2019-06-20       2.50
2019-06-21       2.50
2019-06-24       2.50
2019-06-25       2.50
2019-06-26       2.50
2019-06-27       2.50
2019-06-28       2.50

[1172 rows x 1 columns]

In [ ]:
#Aggregation of features into a single df
MACRO_df = PMI_df.join(CPI_df,how='outer').join(Unemployment_rate_df,how='outer').join(Spread_df,how='outer').\
join(Commodity_index_df,how='outer').join(Libor_df,how='outer').join(interest_rates_df,how='outer').\
join(Philly_Fed_df,how='outer')

for col in list(MACRO_df.columns):
    MACRO_df[col] = MACRO_df[col].astype(float)

MACRO_df = MACRO_df.dropna()
#Creating CSV
MACRO_df.to_csv('MACROS.csv')

## Data collection from tickers